.vscode
.vscode/
/target
.env
refresh_token.txt
frontend/dist/
frontend/.direnv
sadmadbotlad/.direnv
sadmadbotlad/result
.direnv
frontend/server/target
frontend/server/result
result
sadmadbotlad/database.db
